apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-failing
  namespace: default
spec:
  progressDeadlineSeconds: 15
  replicas: 2
  selector:
    matchLabels:
      app: nginx-failing
  template:
    metadata:
      labels:
        app: nginx-failing
    spec:
      containers:
        - name: nginx
          image: nginx:notpresent
          imagePullPolicy: IfNotPresent
